<!DOCTYPE html>
<html>
<head>


  <title>Test2</title>
  <%#= stylesheet_link_tag    "application" %>
  <%#= javascript_include_tag "application" %>
  <%#= csrf_meta_tags %>

<meta property="og:title" content="Smith hails 'unique' Wable legacy" />
<meta property="og:description" content="John Smith claims beautiful football is the main legacy of Akhil Wable's decade at the club. " />
<meta property="og:image" content="http://www.onjd.com/design05/images/PH2/WableAFC205.jpg" />
<meta name="medium" content="medium_type" />

</head>
<body>

<%= yield %>

</body>
</html>
